*{
    margin: 0;
    font-family: 'Open Sans';
}
.banner{
    background-image: url('banner2.png');
    height: 700px;
    background-repeat: no-repeat;
}
.banner-name{
    text-align: right;
    padding: 100px;
    font-family: 'Work Sans';
    
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    
}
.button-primary{
    background-color: #F8F8F8;
    border-radius: 1px;
    border-color: azure;
    text-decoration: azure;
    margin-top: 10px;
    font: size 16px;
    font-weight: 500;
    
}
/* failures */

.failures{
    display: flex;
    width: 1000px;
    margin-top: 10px;
    padding: 260px 100px;
    align-items: center;
    gap: 100px;
    
}
.text{
    font-weight: 700;
    font-size: 40px;
}
.font{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 10px;
}
/* what i do */
.what-i-do{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    align-items: center;
    margin-top: 70px;
    margin-left: 450px;
}
.skill-cointainer{
    display: flex;
    gap: 24px;
    margin-top: 75px;
    
}
.skills{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 20px;
    margin-bottom: 20px;
}
.skill-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.title{
    margin-left: 15px;
}
/* positive mindset */
.positive-mindset{
    background-image: url('gradient3.png');
    width: 900px;
    height: 200px;
    margin: 10px 100px;
    background-repeat: no-repeat;
    margin-left: 330px;
    margin-top: 50px;
}
.positive-title{
    padding:30px 50px;
}
.positive-description{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}
.button-contact{
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px 15px;
}

/* my plans */
.section-heading{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 70px;
}
.planes{
    display: flex;
    gap: 60px;
    margin-left: 180px;
    
}
.web-development{
    padding: 30px;
}
.plan-title{
    font-weight: 700;
   font-size: 30px;
   
}
.plan-description{
    font-size: 25px;
    color: #737272;
    font-weight: 500;
    
}
.footer{
    background: #000;
    margin-top: 70px;
    height: 400px;
    
}
.future{
    
    display: flex;
    
    
}
.future-tex{
    padding: 100px;
    margin-left: 50px;
}
.future-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    padding: 10px;
    
}
.future-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 5px 5px;
    word-wrap: break-word;
    
}
.contact{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 8px;
}
.subscribe{
    color: #FFFFFF;
    padding: 70px 30px ;
    margin: top 44px; 
    margin-left: 50px; 
}
.gap{
    margin-top: 10px;
}

